<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<P>
  Contact Web Developer, Tiffany Wallace, at <a href="enyrgie@gmail.com">enyrgie@gmail.com</a>.
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>