<% provide(:title, 'Home') %>
<h1>London's Lounge</h1>
	<p>
  		Welcome to London's Lounge, a place for a group of local friends to connect, chat, 	share ideas, and have fun. 
	<p>  	  	
		London's Lounge was created using the 
 	  	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
 	  	sample application.
    </p>


